.image__cont {
  background-color: var(--black);
}
.image__list ul {
  width: 100%;
  columns: 4;
  column-gap: 20px;
}

.image__list ul img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  margin-bottom: 20px;
  border-radius: 5px;
  cursor: pointer;
  transition: all 0.1s;
}

.image__search {
  background: var(--black);
  .container {
    position: relative;
  }
  h2 {
    color: var(--white);
    font-size: 40px;
    height: 0;
    text-indent: -9999px;
    width: 0;
  }
  input {
    background: var(--black);
    border: 2px solid var(--light_border);
    border-radius: 50px;
    color: #f0eeeb;
    color: var(--light_bg);
    margin: 0 1% 5%;
    padding: 1rem 3rem 1rem 2rem;
    width: 98%;
  }
  button {
    background: var(--white);
    border: 0;
    border-radius: 50%;
    color: var(--black);
    font-family: var(--subKor_font);
    font-size: 12px;
    height: 40px;
    position: absolute;
    right: 22px;
    top: 9px;
    transition: opacity 0.3s ease;
    width: 40px;
  }
}

/* 슬라이더 */
.Unsplash_swiper {
.swiper {
  width: 95%;
  height: 80%;
  padding-bottom: 150px;
  background: #000;
  margin-top: 2vw;
}

.swiper-slide {
  text-align: center;
  font-size: 18px;
  padding: 20px;

  /* Center slide text vertically */
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
}

.swiper-slide img {
  display: block;
  width: 18rem;
  height: 27rem;
  object-fit: cover;
  border-radius: 0.5em;
}

.swiper-pagination {
  margin-bottom: 4vw;
}

.swiper-pagination-bullet {
  background-color: #f0eeeb;
}

.swiper-button-prev, .swiper-button-next{
  filter: brightness(0) invert(1);
  position: absolute;
  top: 50%;
}

.swiper-button-prev {
  left: 0;
}
.swiper-button-next {
  right: 0;
}
}